<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleLocalizations</key>
	<array>
		<string>en</string>
	</array>
	<key>CFBundleAllowMixedLocalizations</key>
	<false/>
	<key>CFBundleDevelopmentRegion</key>
	<string>en_US</string>
	<key>CFBundleExecutable</key>
	<string>Seg3D2</string>
	<key>CFBundleIconFile</key>
	<string>Seg3D.icns</string>
	<key>CFBundleGetInfoString</key>
	<string>Seg3D 2.0.0 - MIT License</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>NSDocumentClass</key>
			<string>Seg3DDataFile</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>NRRD</string>
				<string>NRD</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Seg3D.icns</string>
			<key>CFBundleTypeName</key>
			<string>Nearly Raw Raster Data</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>nrrd</string>
				<string>nrd</string>
				<string>NRRD</string>
				<string>NRD</string>
			</array>
			<key>LSHandlerRank</key>
			<string>Default</string>
		</dict>
	</array>
	<key>CFBundleName</key>
	<string>Seg3D2</string>
</dict>
</plist>
