# Based on https://help.github.com/articles/dealing-with-line-endings/
# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
*.c text
*.cc text
*.cxx text
*.cpp text
*.h text
*.hxx text
*.hpp text
*.cmake text
*.txt text

# Declare files that will always have CRLF line endings on checkout.
*.sln text eol=crlf
*.cbproj eol=crlf
*.vcproj eol=crlf
*.groupproj eol=crlf
*.vsprops eol=crlf
*.props eol=crlf
*.qrc eol=crlf
*.qc eol=crlf

# Declare files that will always have LF line endings on checkout.
*.plist eol=lf

# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary
*.ico binary
*.icns binary
